.nav {
  display: flex;
  align-items: center;
  &__link {
    text-decoration: none;
    color: $white-color;
    border-bottom: 2px solid transparent;
    padding: 20px;
    &:hover {
      border-bottom: 2px solid $white-color;
    }
    &--game {
      border-radius: 5px;
      &:hover {
        background: $white-color;
        color: $primary-color;
      }
    }
    &--active-game {
      background: lighten($primary-color, 20%);
      color: $primary-color;
      cursor: default;
      &:hover {
        background: lighten($primary-color, 20%);
        color: $primary-color;
        border-bottom: 2px solid lighten($primary-color, 20%);
      }
    }
    &--active {
      color: lighten($black-color, 20%);
      cursor: default;
      &:hover {
        border-bottom: 2px solid transparent;
      }
    }
  }
}