.users-list {
  margin: 0 0 40px 0;
  width: 500px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-spacing: 0;
  &__header {
    font-weight: 900;
    color: $white-color;
    th {
      background: $primary-color;
    }
  }
}